<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
           <img src="/assets/images/sdsu.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.currentEmployment}}</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.currentLocation}}</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.emailId}}</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.phoneNumber}}</p>
          <hr>
          <br>

          <app-education></app-education>
          <button class="w3-button w3-round w3-border w3-section" style="width: 100%">Add Experience
            <i class="fa fa-plus fa-fw w3-right w3-large w3-text-teal"></i>
          </button>
          <button class="w3-button w3-round w3-border w3-section" style="width: 100%">Add Skills
            <i class="fa fa-plus fa-fw w3-right w3-large w3-text-teal"></i>
          </button>

 
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
       
        <ul class="w3-ul">
          <li *ngFor="let work of user.experience">
            <div class="w3-container">
              <h5 class="w3-opacity"><b>{{work.jobTitle}}</b></h5>
              <h5 class="w3-opacity"><b>{{work.company}}</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{work.startDate}} - {{work.endDate}}</h6>
              <p>{{work.description}}</p>
              </div>
          </li>
        </ul>
        <button class="w3-btn w3-section" *ngIf="user.experience == null">Add Experience</button>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
           <ul class="w3-ul" *ngIf="user.education !== null">
          <li *ngFor="let edu of user.education">
        <div class="w3-container">
          <h5 class="w3-opacity"><b>{{edu.school}}</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{edu.startDate}} - {{edu.endDate}}</h6>
          <p>{{edu.degree}}, {{edu.major}}</p>
        </div>
          </li>
        </ul>
        <button class="w3-btn w3-section" *ngIf="user.education == null">Add Education</button>
      </div>

        <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Skills</h2>
           <ul>
          <li *ngFor="let s of user.skills" style="display: inline">
            <p>{{s}}
          </li>
        </ul>
        <button class="w3-btn w3-section" *ngIf="user.skills == null">Add Skills</button>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-grey w3-center w3-margin-top">
</footer>


<div class="w3-modal" *ngIf=editEducation>
  <div class="w3-modal-content">
    <header class="w3-container">
      Add Education
      </header>
      <div class="w3-container">
        

      </div>
      <footer class="w3-container">
        <button class="w3-button w3-green">Add</button>
      </footer>
  </div>
</div>