<div class="w3-container">
    <header class="w3-container">
        <h4>Add Education</h4>
    </header>
    <div class="w3-container">
        <label>School</label>
        <input class="w3-input" id="school"/>
        <label>Major</label>
        <input class="w3-input" id="school"/>
        <label>Start Date</label>
        <input class="w3-input" id="school"/>
        <label>End Date</label>
        <input class="w3-input" id="school"/>
    </div>
    <footer class="w3-container">
        <div class="w3-section">
            
            <button class="w3-button w3-border w3-round w3-right w3-margin-left">Add</button>
             <button class="w3-button w3-border w3-round w3-right" (click)="onNoClick()">Cancel</button>
        </div>
    </footer>
</div>


