.reg {
    background-color: #b4b3b2;
    width : 50%;
    position: absolute;
    margin-left: 25%;
    padding: 2em;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}