<div>
  <div class="w3-white w3-text-grey w3-card-4">
    <div class="w3-display-container">
        <img src="/assets/images/deepak.png" style="width:100%" alt="Avatar">
    </div>
        <div class="w3-container">
          <h4 class="w3-text-black">{{profile.firstName}} {{profile.lastName}}</h4>
          <p>{{profile.currentEmployment}}</p>
          <hr>
          <h5 class="w3-text-black">Connections</h5>
          <p>{{connections}}</p>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>
